
lib/CopyLibs/org-netbeans-modules-java-j2seproject-copylibstask.jar

lib/nblibraries.properties
/nbproject/private/
build.xml

lib/junit/junit-3.8.2-api.zip

lib/junit/junit-3.8.2.jar

lib/junit_4/junit-4.10-sources.jar

lib/junit_4/junit-4.10.jar

lib/junit_4/junit-4.10-javadoc.jar

nbproject/build-impl.xml

manifest.mf

nbproject/configs/Run_as_WebStart.properties

nbproject/configs/Run_in_Browser.properties

nbproject/jfx-impl.xml

nbproject/project.xml

nbproject/project.properties

nbproject/genfiles.properties
